In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('pandas/survey_results_public.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'pandas/survey_results_public.csv'

In [4]:
df = pd.read_csv('D:/Users/priyavir/Desktop/pandas/survey_results_public.csv')

In [5]:
df

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88878,88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88879,88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88880,88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88881,88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88882,88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [6]:
df.shape

(88883, 85)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88883 entries, 0 to 88882
Data columns (total 85 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Respondent              88883 non-null  int64
 1   MainBranch              88331 non-null  object
 2   Hobbyist                88883 non-null  object
 3   OpenSourcer             88883 non-null  object
 4   OpenSource              86842 non-null  object
 5   Employment              87181 non-null  object
 6   Country                 88751 non-null  object
 7   Student                 87014 non-null  object
 8   EdLevel                 86390 non-null  object
 9   UndergradMajor          75614 non-null  object
 10  EduOther                84260 non-null  object
 11  OrgSize                 71791 non-null  object
 12  DevType                 81335 non-null  object
 13  YearsCode               87938 non-null  object
 14  Age1stCode              87634 non-null  object
 15  YearsCodePro            74331 non-null  object
 16  CareerSat               72847 non-null  object
 17  JobSat                  70988 non-null  object
 18  MgrIdiot                61159 non-null  object
 19  MgrMoney                61157 non-null  object
 20  MgrWant                 61232 non-null  object
 21  JobSeek                 80555 non-null  object
 22  LastHireDate            79854 non-null  object
 23  LastInt                 67155 non-null  object
 24  FizzBuzz                71344 non-null  object
 25  JobFactors              79371 non-null  object
 26  ResumeUpdate            77877 non-null  object
 27  CurrencySymbol          71392 non-null  object
 28  CurrencyDesc            71392 non-null  object
 29  CompTotal               55945 non-null  float64
 30  CompFreq                63268 non-null  object
 31  ConvertedComp           55823 non-null  float64
 32  WorkWeekHrs             64503 non-null  float64
 33  WorkPlan                68914 non-null  object
 34  WorkChallenge           68141 non-null  object
 35  WorkRemote              70284 non-null  object
 36  WorkLoc                 70055 non-null  object
 37  ImpSyn                  71779 non-null  object
 38  CodeRev                 70390 non-null  object
 39  CodeRevHrs              49790 non-null  float64
 40  UnitTests               62668 non-null  object
 41  PurchaseHow             61108 non-null  object
 42  PurchaseWhat            62029 non-null  object
 43  LanguageWorkedWith      87569 non-null  object
 44  LanguageDesireNextYear  84088 non-null  object
 45  DatabaseWorkedWith      76026 non-null  object
 46  DatabaseDesireNextYear  69147 non-null  object
 47  PlatformWorkedWith      80714 non-null  object
 48  PlatformDesireNextYear  77443 non-null  object
 49  WebFrameWorkedWith      65022 non-null  object
 50  WebFrameDesireNextYear  62944 non-null  object
 51  MiscTechWorkedWith      59586 non-null  object
 52  MiscTechDesireNextYear  64511 non-null  object
 53  DevEnviron              87317 non-null  object
 54  OpSys                   87851 non-null  object
 55  Containers              85366 non-null  object
 56  BlockchainOrg           48175 non-null  object
 57  BlockchainIs            60165 non-null  object
 58  BetterLife              86269 non-null  object
 59  ITperson                87141 non-null  object
 60  OffOn                   86663 non-null  object
 61  SocialMedia             84437 non-null  object
 62  Extraversion            87305 non-null  object
 63  ScreenName              80486 non-null  object
 64  SOVisit1st              83877 non-null  object
 65  SOVisitFreq             88263 non-null  object
 66  SOVisitTo               88086 non-null  object
 67  SOFindAnswer            87816 non-null  object
 68  SOTimeSaved             86344 non-null  object
 69  SOHowMuchTime           68378 non-null  object
 70  SOAccount               87828 non-null  object
 71  SOPartFreq              74692 non-null  object
 72  SOJobs                  88066 non-null  object
 73  EntTeams                87841 non-null  object
 74  SOComm                  88131 non-null  object
 75  WelcomeChange           85855 non-null  object
 76  SONewContent            69560 non-null  object
 77  Age                     79210 non-null  float64
 78  Gender                  85406 non-null  object
 79  Trans                   83607 non-null  object
 80  Sexuality               76147 non-null  object
 81  Ethnicity               76668 non-null  object
 82  Dependents              83059 non-null  object
 83  SurveyLength            86984 non-null  object
 84  SurveyEase              87081 non-null  object
dtypes: float64(5), int64(1), object(79)
memory usage: 57.6+ MB

In [8]:
schema_df=pd.read_csv('D:/Users/priyavir/Desktop/pandas/survey_results_schema.csv')

In [9]:
schema_df

          Column                                       QuestionText
0     Respondent  Randomized respondent ID number (not in order ...
1     MainBranch  Which of the following options best describes ...
2       Hobbyist                            Do you code as a hobby?
3    OpenSourcer        How often do you contribute to open source?
4     OpenSource  How do you feel about the quality of open sour...
..           ...                                                ...
80     Sexuality  Which of the following do you currently identi...
81     Ethnicity  Which of the following do you identify as? Ple...
82    Dependents  Do you have any dependents (e.g., children, el...
83  SurveyLength  How do you feel about the length of the survey...
84    SurveyEase  How easy or difficult was this survey to compl...

[85 rows x 2 columns]

In [23]:
people = { "first" : ["corey","jane","john"],
           "last"  : ["shafer","doe","doe"],
            "email" : ["corey@email.com","jane@email.com","john@email.com"]
         }

In [24]:
people ['email']

['corey@email.com', 'jane@email.com', 'john@email.com']

In [17]:
import pandas as pd

In [25]:
df_people= pd.DataFrame (people)

In [26]:
df_people

   first    last            email
0  corey  shafer  corey@email.com
1   jane     doe   jane@email.com
2   john     doe   john@email.com

In [28]:
df_people['email']

0    corey@email.com
1     jane@email.com
2     john@email.com
Name: email, dtype: object

In [30]:
df_people[['last','email']]

     last            email
0  shafer  corey@email.com
1     doe   jane@email.com
2     doe   john@email.com

In [33]:
df_people.columns

Index(['first', 'last', 'email'], dtype='object')

In [36]:
df_people.iloc[[0,1]]

   first    last            email
0  corey  shafer  corey@email.com
1   jane     doe   jane@email.com

In [37]:
df_people.iloc[[0,1],2]

0    corey@email.com
1     jane@email.com
Name: email, dtype: object

In [38]:
df_people.loc[[0,1],'email']

0    corey@email.com
1     jane@email.com
Name: email, dtype: object

In [49]:
import pandas as pd

In [44]:
df = pd.read_csv('D:/Users/priyavir/Desktop/pandas/survey_results_public.csv')

In [46]:
schema_df=pd.read_csv('D:/Users/priyavir/Desktop/pandas/survey_results_schema.csv')

In [51]:
df ['Hobbyist']

0        Yes
1         No
2        Yes
3         No
4        Yes
        ...
88878    Yes
88879     No
88880     No
88881     No
88882    Yes
Name: Hobbyist, Length: 88883, dtype: object

In [52]:
df ['Hobbyist'].value_counts()

Yes    71257
No     17626
Name: Hobbyist, dtype: int64

In [53]:
df.loc[0]

Respondent                                                      1
MainBranch                 I am a student who is learning to code
Hobbyist                                                      Yes
OpenSourcer                                                 Never
OpenSource      The quality of OSS and closed source software ...
                                      ...
Sexuality                                 Straight / Heterosexual
Ethnicity                                                     NaN
Dependents                                                     No
SurveyLength                                Appropriate in length
SurveyEase                             Neither easy nor difficult
Name: 0, Length: 85, dtype: object

In [54]:
df.loc[0:2, 'Hobbyist']

0    Yes
1     No
2    Yes
Name: Hobbyist, dtype: object

In [56]:
df_people.set_index('email')

                 first    last
email
corey@email.com  corey  shafer
jane@email.com    jane     doe
john@email.com    john     doe

In [59]:
df_people.set_index('email', inplace= True)

In [60]:
df_people

                 first    last
email
corey@email.com  corey  shafer
jane@email.com    jane     doe
john@email.com    john     doe

In [63]:
df_people.iloc[0]

first     corey
last     shafer
Name: corey@email.com, dtype: object

In [65]:
df_people.reset_index (inplace=True)

In [66]:
df_people

             email  first    last
0  corey@email.com  corey  shafer
1   jane@email.com   jane     doe
2   john@email.com   john     doe

In [67]:
df = pd.read_csv('D:/Users/priyavir/Desktop/pandas/survey_results_public.csv',index_col='Respondent')

In [68]:
df

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [69]:
df.sort_index()

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88879,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Finland,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...",...,Not applicable - I did not use Stack Overflow ...,NaN,34.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
88880,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88881,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Austria,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,NaN,NaN,37.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
88882,I am a developer by profession,Yes,Never,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Netherlands,"Yes, full-time","Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Participated in online coding competitions (e....,...,Just as welcome now as I felt last year,NaN,NaN,Man,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Easy
88883,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Greece,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech articles written by other developers,33.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too short,Easy

In [70]:
df.sort_index(ascending=False)

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
88883,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Greece,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech articles written by other developers,33.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too short,Easy
88882,I am a developer by profession,Yes,Never,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Netherlands,"Yes, full-time","Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Participated in online coding competitions (e....,...,Just as welcome now as I felt last year,NaN,NaN,Man,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Easy
88881,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Austria,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,NaN,NaN,37.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
88880,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88879,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Finland,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...",...,Not applicable - I did not use Stack Overflow ...,NaN,34.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult

In [71]:
df_people['last']=='doe'

0    False
1     True
2     True
Name: last, dtype: bool

In [74]:
filt= (df_people['last']=='doe')

In [76]:
df_people[filt]

            email first last
1  jane@email.com  jane  doe
2  john@email.com  john  doe

In [77]:
df_people.loc[filt]

            email first last
1  jane@email.com  jane  doe
2  john@email.com  john  doe

In [78]:
df_people.loc [filt, 'email']

1    jane@email.com
2    john@email.com
Name: email, dtype: object

In [80]:
filt = (df_people['last']=='doe') & (df_people['first'] == 'john')

In [81]:
df_people[filt]

            email first last
2  john@email.com  john  doe

In [82]:
filt = (df_people['last']=='doe') | (df_people['first'] == 'john')

In [83]:
df_people[filt]

            email first last
1  jane@email.com  jane  doe
2  john@email.com  john  doe

In [84]:
df_people.loc[-filt]

             email  first    last
0  corey@email.com  corey  shafer

In [94]:
high_salary = (df['ConvertedComp'] > 70000)

In [95]:
df.loc[high_salary]

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
6,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Canada,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,28.0,Man,No,Straight / Heterosexual,East Asian,No,Too long,Neither easy nor difficult
9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
22,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,Some college/university study without earning ...,NaN,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,47.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88876,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Received on-the-job training in software devel...,...,A lot less welcome now than last year,NaN,23.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
88877,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,48.0,Man,No,Straight / Heterosexual,South Asian,Yes,Too long,Neither easy nor difficult
88878,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,South Asian,No,Appropriate in length,Easy
88879,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Finland,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...",...,Not applicable - I did not use Stack Overflow ...,NaN,34.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
88882,I am a developer by profession,Yes,Never,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Netherlands,"Yes, full-time","Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Participated in online coding competitions (e....,...,Just as welcome now as I felt last year,NaN,NaN,Man,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Easy

In [99]:
df.loc[high_salary,['Country','LanguageWorkedWith','ConvertedComp']]

,Country,LanguageWorkedWith,ConvertedComp
Respondent,,,
6,Canada,Java;R;SQL,366420.0
9,New Zealand,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...,95179.0
13,United States,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...,90000.0
16,United Kingdom,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;T...,455352.0
22,United States,Bash/Shell/PowerShell;C++;HTML/CSS;JavaScript;...,103000.0
...,...,...,...
88876,United States,Bash/Shell/PowerShell;C#;HTML/CSS;Java;Python;...,180000.0
88877,United States,Bash/Shell/PowerShell;C;Clojure;HTML/CSS;Java;...,2000000.0
88878,United States,HTML/CSS;JavaScript;Scala;TypeScript,130000.0
88879,Finland,Bash/Shell/PowerShell;C++;Python,82488.0
88882,Netherlands,C#;HTML/CSS;Java;JavaScript;PHP;Python,588012.0

In [107]:
countries = ['United States', 'India', 'Germany']
filt = df['Country'].isin(countries)

In [108]:
df.loc[filt, 'Country']

Respondent
4        United States
8                India
10               India
13       United States
14             Germany
             ...
83862            India
84299            India
85642    United States
86012            India
88282    United States
Name: Country, Length: 35876, dtype: object

In [109]:
filt = df['LanguageWorkedWith'].str.contains('Python', na=False)

In [110]:
df.loc[filt,'LanguageWorkedWith']

Respondent
1                          HTML/CSS;Java;JavaScript;Python
2                                      C++;HTML/CSS;Python
4                                      C;C++;C#;Python;SQL
5              C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
8        Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
                               ...
84539    Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
85738      Bash/Shell/PowerShell;C++;Python;Ruby;Other(s):
86566      Bash/Shell/PowerShell;HTML/CSS;Python;Other(s):
87739             C;C++;HTML/CSS;JavaScript;PHP;Python;SQL
88212                           HTML/CSS;JavaScript;Python
Name: LanguageWorkedWith, Length: 36443, dtype: object

In [111]:
df_people.columns

Index(['email', 'first', 'last'], dtype='object')

In [113]:
df_people.columns = [x.upper() for x in df_people.columns]

In [114]:
df_people

             EMAIL  FIRST    LAST
0  corey@email.com  corey  shafer
1   jane@email.com   jane     doe
2   john@email.com   john     doe

In [150]:
df_people.columns= df_people.columns.str.replace(' ', '')

In [151]:
df_people
df_people.columns = [x.lower() for x in df_people.columns]

In [152]:
df_people

             email  first    last
0  corey@email.com  corey  shafer
1   jane@email.com   jane     doe
2   john@email.com   john     doe

In [153]:
df_people.rename(columns= {'first' : 'first_name'})

             email first_name    last
0  corey@email.com      corey  shafer
1   jane@email.com       jane     doe
2   john@email.com       john     doe

In [155]:
df_people.loc[2]=['john','smith','smith@mail.com']

In [156]:
df_people

             email  first            last
0  corey@email.com  corey          shafer
1   jane@email.com   jane             doe
2             john  smith  smith@mail.com

In [160]:
df_people ['email'] .apply(len)

0    15
1    14
2     4
Name: email, dtype: int64

In [158]:
df_people

             email  first            last
0  corey@email.com  corey          shafer
1   jane@email.com   jane             doe
2             john  smith  smith@mail.com

In [161]:
df_people.apply(len)

email    3
first    3
last     3
dtype: int64

In [163]:
len(df_people['email'])

3

In [165]:
df_people.apply(pd.Series.min)

email    corey@email.com
first              corey
last                 doe
dtype: object

In [166]:
df_people.applymap(len)

   email  first  last
0     15      5     6
1     14      4     3
2      4      5    14

In [167]:
df_people.applymap(str.lower)

             email  first            last
0  corey@email.com  corey          shafer
1   jane@email.com   jane             doe
2             john  smith  smith@mail.com

In [168]:
df_people['first'].map({'corey' : 'chris'})

0    chris
1      NaN
2      NaN
Name: first, dtype: object

In [169]:
df_people['first'].replace({'corey' : 'chris'})

0    chris
1     jane
2    smith
Name: first, dtype: object

In [172]:
df['Hobbyist'].map({'yes' : True , 'no' : False})

KeyError: 'Hobbyist'

In [177]:
df

,_M_A_I_N_B_R_A_N_C_H_,_H_O_B_B_Y_I_S_T_,_O_P_E_N_S_O_U_R_C_E_R_,_O_P_E_N_S_O_U_R_C_E_,_E_M_P_L_O_Y_M_E_N_T_,_C_O_U_N_T_R_Y_,_S_T_U_D_E_N_T_,_E_D_L_E_V_E_L_,_U_N_D_E_R_G_R_A_D_M_A_J_O_R_,_E_D_U_O_T_H_E_R_,...,_W_E_L_C_O_M_E_C_H_A_N_G_E_,_S_O_N_E_W_C_O_N_T_E_N_T_,_A_G_E_,_G_E_N_D_E_R_,_T_R_A_N_S_,_S_E_X_U_A_L_I_T_Y_,_E_T_H_N_I_C_I_T_Y_,_D_E_P_E_N_D_E_N_T_S_,_S_U_R_V_E_Y_L_E_N_G_T_H_,_S_U_R_V_E_Y_E_A_S_E_
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [182]:
df.columns= df.columns.str.replace('_', '')

In [187]:
df.columns= df.columns.str.lower()

In [188]:
df

,mainbranch,hobbyist,opensourcer,opensource,employment,country,student,edlevel,undergradmajor,eduother,...,welcomechange,sonewcontent,age,gender,trans,sexuality,ethnicity,dependents,surveylength,surveyease
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [190]:
df['hobbyist']

Respondent
1        Yes
2         No
3        Yes
4         No
5        Yes
        ...
88377    Yes
88601     No
88802     No
88816     No
88863    Yes
Name: hobbyist, Length: 88883, dtype: object

In [193]:
df['hobbyist'].map({'Yes' : True , 'No' : False})

Respondent
1         True
2        False
3         True
4        False
5         True
         ...
88377     True
88601    False
88802    False
88816    False
88863     True
Name: hobbyist, Length: 88883, dtype: bool

In [196]:
df_people['full_name']= df_people['first'] + ' ' + df_people['last']

In [197]:
df_people

             email  first            last             full_name
0  corey@email.com  corey          shafer          corey shafer
1   jane@email.com   jane             doe              jane doe
2             john  smith  smith@mail.com  smith smith@mail.com

In [199]:
df_people.drop(columns=['first','last'])

             email             full_name
0  corey@email.com          corey shafer
1   jane@email.com              jane doe
2             john  smith smith@mail.com

In [200]:
df_people

             email  first            last             full_name
0  corey@email.com  corey          shafer          corey shafer
1   jane@email.com   jane             doe              jane doe
2             john  smith  smith@mail.com  smith smith@mail.com

In [219]:
df_people['full_name'].str.split(' ', expand=True)

       0               1
0  corey          shafer
1   jane             doe
2  smith  smith@mail.com

In [206]:
df_people[['first','last']]= df_people['full_name'].str.split(' ', expand=True)

In [207]:
df_people

             email  first            last             full_name
0  corey@email.com  corey          shafer          corey shafer
1   jane@email.com   jane             doe              jane doe
2             john  smith  smith@mail.com  smith smith@mail.com

In [210]:
df_people.append({'first' : 'tony'},ignore_index = True)

             email  first            last             full_name
0  corey@email.com  corey          shafer          corey shafer
1   jane@email.com   jane             doe              jane doe
2             john  smith  smith@mail.com  smith smith@mail.com
3              NaN   tony             NaN                   NaN

In [211]:
df_people.drop(index=1)

             email  first            last             full_name
0  corey@email.com  corey          shafer          corey shafer
2             john  smith  smith@mail.com  smith smith@mail.com

In [212]:
df_people

             email  first            last             full_name
0  corey@email.com  corey          shafer          corey shafer
1   jane@email.com   jane             doe              jane doe
2             john  smith  smith@mail.com  smith smith@mail.com

In [214]:
filt = df_people['last']=='doe'
df_people.drop (index= df_people[filt].index)

             email  first            last             full_name
0  corey@email.com  corey          shafer          corey shafer
2             john  smith  smith@mail.com  smith smith@mail.com

In [215]:
df_people.sort_values(by='last')

             email  first            last             full_name
1   jane@email.com   jane             doe              jane doe
0  corey@email.com  corey          shafer          corey shafer
2             john  smith  smith@mail.com  smith smith@mail.com

In [216]:
df_people = df_people.replace[{'smith@mail.com' : 'smith'}]

TypeError: 'method' object is not subscriptable

In [228]:
df_people.loc[0,['last','email']]= ['smith','smith@mail.com']

AttributeError: 'list' object has no attribute 'iloc'

In [230]:
df_people

['smith', 'smith@mail.com']

TypeError: list indices must be integers or slices, not str

In [231]:
people = { "first" : ["corey","jane","john"],
           "last"  : ["shafer","doe","doe"],
            "email" : ["corey@email.com","jane@email.com","john@email.com"]
         }

In [232]:
df_people= pd.DataFrame (people)

In [233]:
df_people

   first    last            email
0  corey  shafer  corey@email.com
1   jane     doe   jane@email.com
2   john     doe   john@email.com

In [239]:
df.sort_values(by='country', inplace=True)

In [240]:
df ['country'].head(20)

Respondent
39258    Afghanistan
63129    Afghanistan
85715    Afghanistan
50767    Afghanistan
2782     Afghanistan
63019    Afghanistan
6417     Afghanistan
40000    Afghanistan
88731    Afghanistan
48436    Afghanistan
10746    Afghanistan
62525    Afghanistan
49702    Afghanistan
33178    Afghanistan
60946    Afghanistan
86362    Afghanistan
88582    Afghanistan
28638    Afghanistan
722      Afghanistan
26340    Afghanistan
Name: country, dtype: object

In [241]:
df.nlargest(10,'convertedcomp')

,mainbranch,hobbyist,opensourcer,opensource,employment,country,student,edlevel,undergradmajor,eduother,...,welcomechange,sonewcontent,age,gender,trans,sexuality,ethnicity,dependents,surveylength,surveyease
Respondent,,,,,,,,,,,,,,,,,,,,,
25983,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Canada,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Received on-the-job training in software devel...,...,Just as welcome now as I felt last year,NaN,24.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
87896,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,Germany,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,32.0,Man,No,Gay or Lesbian,White or of European descent,No,Appropriate in length,Neither easy nor difficult
22013,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,India,No,"Professional degree (JD, MD, etc.)","A natural science (ex. biology, chemistry, phy...",Taken an online course in programming or softw...,...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,NaN,Man,No,Straight / Heterosexual,NaN,Yes,Too long,Easy
28243,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,A lot less welcome now than last year,Tech meetups or events in your area,NaN,NaN,NaN,Straight / Heterosexual,NaN,Yes,Too short,Easy
72732,"I am not primarily a developer, but I write co...",No,Less than once a month but more than once per ...,"OSS is, on average, of LOWER quality than prop...",NaN,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Contributed to open source software,...,A lot less welcome now than last year,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,Yes,Too long,Easy
78151,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Mexico,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,32.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina,No,Appropriate in length,Easy
80200,I am a developer by profession,Yes,Never,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Netherlands,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Received on-the-job training in software devel...,...,NaN,Tech articles written by other developers,25.0,Woman,No,Bisexual,White or of European descent,No,Appropriate in length,Easy
52132,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Peru,No,Some college/university study without earning ...,I never declared a major,Completed an industry certification program (e...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,48.0,Man,NaN,NaN,Black or of African descent;East Asian;Hispani...,Yes,Appropriate in length,Easy
75561,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Singapore,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A humanities discipline (ex. literature, histo...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech meetups or events in your area,37.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
32250,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,Switzerland,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken a part-time in-person course in programm...,...,Just as welcome now as I felt last year,Industry news about technologies you're intere...,30.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy

In [243]:
df['convertedcomp'].median()

57287.0

In [244]:
df.describe()

          comptotal  convertedcomp   workweekhrs    coderevhrs           age
count  5.594500e+04   5.582300e+04  64503.000000  49790.000000  79210.000000
mean   5.519014e+11   1.271107e+05     42.127197      5.084308     30.336699
std    7.331926e+13   2.841523e+05     37.287610      5.513931      9.178390
min    0.000000e+00   0.000000e+00      1.000000      0.000000      1.000000
25%    2.000000e+04   2.577750e+04     40.000000      2.000000     24.000000
50%    6.200000e+04   5.728700e+04     40.000000      4.000000     29.000000
75%    1.200000e+05   1.000000e+05     44.750000      6.000000     35.000000
max    1.000000e+16   2.000000e+06   4850.000000     99.000000     99.000000

In [245]:
df['convertedcomp'].count()

55823

In [247]:
df['hobbyist']

Respondent
39258    Yes
63129    Yes
85715     No
50767     No
2782     Yes
        ...
88062     No
88076     No
88601     No
88802     No
88816     No
Name: hobbyist, Length: 88883, dtype: object

In [249]:
df['hobbyist'].value_counts()

Yes    71257
No     17626
Name: hobbyist, dtype: int64

In [251]:
df['socialmedia'].value_counts(normalize=True)

Reddit                      0.170233
YouTube                     0.163791
WhatsApp                    0.158071
Facebook                    0.156069
Twitter                     0.134988
Instagram                   0.074150
I don't use social media    0.065777
LinkedIn                    0.053306
WeChat 微信                   0.007899
Snapchat                    0.007437
VK ВКонта́кте               0.007141
Weibo 新浪微博                  0.000663
Youku Tudou 优酷              0.000249
Hello                       0.000225
Name: socialmedia, dtype: float64

In [291]:
country_group = df.groupby (['country'])

In [255]:
country_group.get_group('India')

,mainbranch,hobbyist,opensourcer,opensource,employment,country,student,edlevel,undergradmajor,eduother,...,welcomechange,sonewcontent,age,gender,trans,sexuality,ethnicity,dependents,surveylength,surveyease
Respondent,,,,,,,,,,,,,,,,,,,,,
32379,I am a developer by profession,No,Never,NaN,Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",NaN,...,Just as welcome now as I felt last year,Courses on technologies you're interested in,30.0,Man,No,NaN,NaN,Yes,Too long,Easy
81742,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Information systems, information technology, o...",Received on-the-job training in software devel...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,28.0,Man,No,NaN,South Asian,Yes,Appropriate in length,Easy
75299,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,Participated in a hackathon,...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,36.0,Woman,No,NaN,East Asian;Hispanic or Latino/Latina;Native Am...,Yes,Too long,Neither easy nor difficult
66901,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,"Yes, full-time","Master’s degree (MA, MS, M.Eng., MBA, etc.)",Web development or web design,Taken an online course in programming or softw...,...,NaN,Industry news about technologies you're intere...,23.0,Man,No,NaN,NaN,Yes,Too long,Easy
23018,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Participated in a full-time developer training...,...,A lot less welcome now than last year,Tech articles written by other developers,NaN,Man,No,NaN,NaN,NaN,Too short,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79628,I am a developer by profession,No,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,India,No,NaN,"Computer science, computer engineering, or sof...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,NaN,Man,NaN,NaN,South Asian,NaN,Too long,Easy
40151,NaN,No,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",NaN,India,No,"Secondary school (e.g. American high school, G...",NaN,NaN,...,A lot more welcome now than last year,Tech meetups or events in your area,NaN,Man,No,Straight / Heterosexual,South Asian,Yes,Too long,Neither easy nor difficult
76400,"I am not primarily a developer, but I write co...",No,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Somewhat more welcome now than last year,Tech articles written by other developers,NaN,Man,No,NaN,NaN,Yes,Too long,Easy
30928,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Taken a part-time in-person course in programm...,...,Somewhat more welcome now than last year,Industry news about technologies you're intere...,30.0,Man,No,Straight / Heterosexual,South Asian,Yes,Appropriate in length,Easy
30452,I am a student who is learning to code,No,Never,"OSS is, on average, of HIGHER quality than pro...",NaN,India,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,"Taught yourself a new language, framework, or ...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Indu...,NaN,Man,No,NaN,NaN,Yes,Too long,Neither easy nor difficult

In [260]:
country_group['socialmedia'].value_counts().loc['India']

socialmedia
WhatsApp                    2990
YouTube                     1820
LinkedIn                     955
Facebook                     841
Instagram                    822
Twitter                      542
Reddit                       473
I don't use social media     250
Snapchat                      23
Hello                          5
WeChat 微信                      5
VK ВКонта́кте                  4
Youku Tudou 优酷                 2
Weibo 新浪微博                     1
Name: socialmedia, dtype: int64

In [263]:
country_group['convertedcomp'].median().loc['Germany']

63016.0

In [264]:
country_group['convertedcomp'].agg(['median','mean']).loc['Germany']

median     63016.000000
mean      109256.884066
Name: Germany, dtype: float64

In [292]:
country_uses_python = country_group['languageworkedwith'].apply(lambda x : x.str.contains('python').sum())

In [293]:
country_uses_python

country
Afghanistan                             0
Albania                                 0
Algeria                                 0
Andorra                                 0
Angola                                  0
                                       ..
Venezuela, Bolivarian Republic of...    0
Viet Nam                                0
Yemen                                   0
Zambia                                  0
Zimbabwe                                0
Name: languageworkedwith, Length: 179, dtype: int64

In [280]:
country_respondents = df['country'].value_counts()
python_df = pd.concat([country_respondents, country_uses_python],axis='columns',sort=False)

In [281]:
python_df

                       country  languageworkedwith
United States            20949                   0
India                     9061                   0
Germany                   5866                   0
United Kingdom            5737                   0
Canada                    3395                   0
...                        ...                 ...
Papua New Guinea             1                   0
Niger                        1                   0
Tonga                        1                   0
Sao Tome and Principe        1                   0
Timor-Leste                  1                   0

[179 rows x 2 columns]

In [282]:
country_uses_python = country_group['languageworkedwith']

In [283]:
country_uses_python

In [296]:
filt= df['country']=='india'
df.loc[filt]['languageworkedwith'].str.contains('python').sum()

0

In [297]:
df['country']

Respondent
39258    Afghanistan
63129    Afghanistan
85715    Afghanistan
50767    Afghanistan
2782     Afghanistan
            ...
88062            NaN
88076            NaN
88601            NaN
88802            NaN
88816            NaN
Name: country, Length: 88883, dtype: object

In [298]:
df = pd.read_csv('D:/Users/priyavir/Desktop/pandas/survey_results_public.csv')

In [299]:
df

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88878,88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88879,88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88880,88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88881,88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88882,88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [301]:
df['Country']

0                United Kingdom
1        Bosnia and Herzegovina
2                      Thailand
3                 United States
4                       Ukraine
                  ...
88878                    Canada
88879                       NaN
88880                       NaN
88881                       NaN
88882                     Spain
Name: Country, Length: 88883, dtype: object

In [305]:
filt= df['Country']=='India'
df[filt]

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
7,8,I code primarily as a hobby,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India,NaN,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,NaN,NaN,Appropriate in length,Neither easy nor difficult
9,10,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Somewhat less welcome now than last year,Tech articles written by other developers;Tech...,NaN,NaN,NaN,NaN,NaN,Yes,Too long,Difficult
14,15,I am a student who is learning to code,Yes,Never,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,20.0,Man,No,NaN,NaN,Yes,Too long,Neither easy nor difficult
49,50,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of LOWER quality than prop...",Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,23.0,Man,No,NaN,South Asian,No,Too long,Easy
64,65,I am a developer by profession,Yes,Never,NaN,Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",...,A lot more welcome now than last year,NaN,21.0,Man,No,NaN,NaN,Yes,Appropriate in length,Neither easy nor difficult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88808,77339,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",...,Not applicable - I did not use Stack Overflow ...,Tech articles written by other developers;Indu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88825,79795,NaN,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech meetups or events in your area;Courses on...,NaN,Man,No,Straight / Heterosexual,NaN,No,Too long,Difficult
88852,83862,NaN,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,NaN,Yes,Too long,Neither easy nor difficult
88853,84299,NaN,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Somewhat more welcome now than last year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88864,86012,NaN,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Another engineering discipline (ex. civil, ele...",...,Not applicable - I did not use Stack Overflow ...,Industry news about technologies you're intere...,24.0,Man,No,NaN,South Asian,NaN,Appropriate in length,Easy

In [307]:
df['LanguageWorkedWith']

0                          HTML/CSS;Java;JavaScript;Python
1                                      C++;HTML/CSS;Python
2                                                 HTML/CSS
3                                      C;C++;C#;Python;SQL
4              C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
                               ...
88878                        HTML/CSS;JavaScript;Other(s):
88879                                                  NaN
88880                                                  NaN
88881                                                  NaN
88882    Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...
Name: LanguageWorkedWith, Length: 88883, dtype: object

In [309]:
filt= df['Country']=='India'
df.loc[filt]['LanguageWorkedWith'].str.contains('Python').sum()

3105

In [316]:
country_group = df.groupby (['Country'])
country_uses_python = country_group['LanguageWorkedWith'].apply(lambda x : x.str.contains('Python').sum())
country_respondents = df['Country'].value_counts()
python_df = pd.concat([country_respondents, country_uses_python],axis='columns',sort=False)

In [317]:
python_df

                       Country  LanguageWorkedWith
United States            20949               10083
India                     9061                3105
Germany                   5866                2451
United Kingdom            5737                2384
Canada                    3395                1558
...                        ...                 ...
Papua New Guinea             1                   0
Niger                        1                   1
Tonga                        1                   0
Sao Tome and Principe        1                   1
Timor-Leste                  1                   1

[179 rows x 2 columns]

In [344]:
import pandas as pd
import numpy as np
people = { "first" : ["corey","jane","john","chris",np.nan, None,"NA"],
           "last"  : ["shafer","doe","doe","schafer", np.nan, np.nan,"Missing"],
            "email" : ["corey@email.com","jane@email.com","john@email.com",None, np.nan,'anonymas@mail.com',"NA"],
            "age" : ["33","55","63","36",None,None,"missing"]
         }

In [326]:
df=pd.DataFrame(people)

In [328]:
df

   first     last              email      age
0  corey   shafer    corey@email.com       33
1   jane      doe     jane@email.com       55
2   john      doe     john@email.com       63
3  chris  schafer               None       36
4    NaN      NaN                NaN     None
5   None      NaN  anonymas@mail.com     None
6     NA  Missing                 NA  missing

In [329]:
df.dropna()

   first     last            email      age
0  corey   shafer  corey@email.com       33
1   jane      doe   jane@email.com       55
2   john      doe   john@email.com       63
6     NA  Missing               NA  missing

In [331]:
df.dropna(axis='index', how='all')

   first     last              email      age
0  corey   shafer    corey@email.com       33
1   jane      doe     jane@email.com       55
2   john      doe     john@email.com       63
3  chris  schafer               None       36
5   None      NaN  anonymas@mail.com     None
6     NA  Missing                 NA  missing

In [334]:
df.dropna(axis='columns', how='any')

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6]

In [335]:
df.dropna(axis='index', subset=['email'])

   first     last              email      age
0  corey   shafer    corey@email.com       33
1   jane      doe     jane@email.com       55
2   john      doe     john@email.com       63
5   None      NaN  anonymas@mail.com     None
6     NA  Missing                 NA  missing

In [348]:
df.replace('NA',np.nan,inplace=True)
df.replace('Missing', np.nan,inplace=True)
df.replace('missing', np.nan,inplace=True)
df

   first     last              email   age
0  corey   shafer    corey@email.com    33
1   jane      doe     jane@email.com    55
2   john      doe     john@email.com    63
3  chris  schafer               None    36
4    NaN      NaN                NaN  None
5   None      NaN  anonymas@mail.com  None
6    NaN      NaN                NaN   NaN

In [349]:
df.isna()

   first   last  email    age
0  False  False  False  False
1  False  False  False  False
2  False  False  False  False
3  False  False   True  False
4   True   True   True   True
5   True   True  False   True
6   True   True   True   True

In [350]:
df.fillna('MISSING')

     first     last              email      age
0    corey   shafer    corey@email.com       33
1     jane      doe     jane@email.com       55
2     john      doe     john@email.com       63
3    chris  schafer            MISSING       36
4  MISSING  MISSING            MISSING  MISSING
5  MISSING  MISSING  anonymas@mail.com  MISSING
6  MISSING  MISSING            MISSING  MISSING

In [351]:
df['YearsCode'].unique()

KeyError: 'YearsCode'

In [352]:
df = pd.read_csv('D:/Users/priyavir/Desktop/pandas/survey_results_public.csv')

In [353]:
df['YearsCode'].unique()

array(['4', nan, '3', '16', '13', '6', '8', '12', '2', '5', '17', '10',
       '14', '35', '7', 'Less than 1 year', '30', '9', '26', '40', '19',
       '15', '20', '28', '25', '1', '22', '11', '33', '50', '41', '18',
       '34', '24', '23', '42', '27', '21', '36', '32', '39', '38', '31',
       '37', 'More than 50 years', '29', '44', '45', '48', '46', '43',
       '47', '49'], dtype=object)

In [355]:
df['YearsCode'].replace('More than 50 years',51 ,inplace=True)

In [356]:
df['YearsCode'].replace('Less than 1 year', 0 ,inplace=True)

In [358]:
df['YearsCode']=df['YearsCode'].astype(float)

In [361]:
df['YearsCode'].mean()

11.662114216834588

In [362]:
df['YearsCode'].median()

9.0

In [363]:
df['YearsCode'].mode()

0    5.0
dtype: float64

In [367]:
import pandas as pd
df = pd.read_csv('D:/Users/priyavir/Desktop/pandas/ETH_1H.csv')

In [368]:
df.head()

,Unix Timestamp,Date,Symbol,Open,High,Low,Close,Volume
0,1586995200000,2020-04-16 00:00:00,ETHUSD,152.94,152.94,150.39,150.39,650.188125
1,1586991600000,2020-04-15 23:00:00,ETHUSD,155.81,155.81,151.39,152.94,4277.567299
2,1586988000000,2020-04-15 22:00:00,ETHUSD,157.18,157.30,155.32,155.81,106.337279
3,1586984400000,2020-04-15 21:00:00,ETHUSD,158.04,158.31,157.16,157.18,55.244131
4,1586980800000,2020-04-15 20:00:00,ETHUSD,157.10,158.10,156.87,158.04,144.262622

In [370]:
df.shape

(34497, 8)

In [372]:
df.loc[0, 'Date']

'2020-04-16 00:00:00'

In [397]:
df['Date'] = pd.to_datetime(df['Date'] , format= '%Y-%m-%d %H:%M:%S')

In [398]:
df['Date']

0       2020-04-16 00:00:00
1       2020-04-15 23:00:00
2       2020-04-15 22:00:00
3       2020-04-15 21:00:00
4       2020-04-15 20:00:00
                ...
34492   2016-05-09 17:00:00
34493   2016-05-09 16:00:00
34494   2016-05-09 15:00:00
34495   2016-05-09 14:00:00
34496   2016-05-09 13:00:00
Name: Date, Length: 34497, dtype: datetime64[ns]

In [400]:
df.loc[0,'Date'].day_name()

'Thursday'

In [402]:
df['Date'].dt.day_name()

0         Thursday
1        Wednesday
2        Wednesday
3        Wednesday
4        Wednesday
           ...
34492       Monday
34493       Monday
34494       Monday
34495       Monday
34496       Monday
Name: Date, Length: 34497, dtype: object

In [405]:
df['dayofweek'] = df['Date'].dt.day_name()
df

,Unix Timestamp,Date,Symbol,Open,High,Low,Close,Volume,dayofweek
0,1586995200000,2020-04-16 00:00:00,ETHUSD,152.94,152.94,150.39,150.39,650.188125,Thursday
1,1586991600000,2020-04-15 23:00:00,ETHUSD,155.81,155.81,151.39,152.94,4277.567299,Wednesday
2,1586988000000,2020-04-15 22:00:00,ETHUSD,157.18,157.30,155.32,155.81,106.337279,Wednesday
3,1586984400000,2020-04-15 21:00:00,ETHUSD,158.04,158.31,157.16,157.18,55.244131,Wednesday
4,1586980800000,2020-04-15 20:00:00,ETHUSD,157.10,158.10,156.87,158.04,144.262622,Wednesday
...,...,...,...,...,...,...,...,...,...
34492,1462813200,2016-05-09 17:00:00,ETHUSD,9.83,9.83,9.48,9.49,329.553213,Monday
34493,1462809600,2016-05-09 16:00:00,ETHUSD,9.99,9.99,9.79,9.83,62.379450,Monday
34494,1462806000,2016-05-09 15:00:00,ETHUSD,10.00,10.00,9.99,9.99,10.973567,Monday
34495,1462802400,2016-05-09 14:00:00,ETHUSD,9.55,10.00,9.55,10.00,235.774075,Monday
34496,1462798800,2016-05-09 13:00:00,ETHUSD,0.00,12.00,0.00,9.55,432.562115,Monday

In [406]:
df['Date'].min()

Timestamp('2016-05-09 13:00:00')

In [408]:
 filt= (df['Date'] >= '2020')
 df.loc[filt]

,Unix Timestamp,Date,Symbol,Open,High,Low,Close,Volume,dayofweek
0,1586995200000,2020-04-16 00:00:00,ETHUSD,152.94,152.94,150.39,150.39,650.188125,Thursday
1,1586991600000,2020-04-15 23:00:00,ETHUSD,155.81,155.81,151.39,152.94,4277.567299,Wednesday
2,1586988000000,2020-04-15 22:00:00,ETHUSD,157.18,157.30,155.32,155.81,106.337279,Wednesday
3,1586984400000,2020-04-15 21:00:00,ETHUSD,158.04,158.31,157.16,157.18,55.244131,Wednesday
4,1586980800000,2020-04-15 20:00:00,ETHUSD,157.10,158.10,156.87,158.04,144.262622,Wednesday
...,...,...,...,...,...,...,...,...,...
2540,1577851200000,2020-01-01 04:00:00,ETHUSD,129.83,129.96,129.13,129.54,2807.129465,Wednesday
2541,1577847600000,2020-01-01 03:00:00,ETHUSD,130.25,130.30,129.42,129.83,883.017780,Wednesday
2542,1577844000000,2020-01-01 02:00:00,ETHUSD,129.95,130.58,129.95,130.25,527.921168,Wednesday
2543,1577840400000,2020-01-01 01:00:00,ETHUSD,128.11,130.01,128.11,129.95,220.239530,Wednesday
2544,1577836800000,2020-01-01 00:00:00,ETHUSD,128.84,128.84,128.07,128.11,526.980282,Wednesday

In [416]:
df

,Unix Timestamp,Symbol,Open,High,Low,Close,Volume,dayofweek
Date,,,,,,,,
2020-04-16 00:00:00,1586995200000,ETHUSD,152.94,152.94,150.39,150.39,650.188125,Thursday
2020-04-15 23:00:00,1586991600000,ETHUSD,155.81,155.81,151.39,152.94,4277.567299,Wednesday
2020-04-15 22:00:00,1586988000000,ETHUSD,157.18,157.30,155.32,155.81,106.337279,Wednesday
2020-04-15 21:00:00,1586984400000,ETHUSD,158.04,158.31,157.16,157.18,55.244131,Wednesday
2020-04-15 20:00:00,1586980800000,ETHUSD,157.10,158.10,156.87,158.04,144.262622,Wednesday
...,...,...,...,...,...,...,...,...
2016-05-09 17:00:00,1462813200,ETHUSD,9.83,9.83,9.48,9.49,329.553213,Monday
2016-05-09 16:00:00,1462809600,ETHUSD,9.99,9.99,9.79,9.83,62.379450,Monday
2016-05-09 15:00:00,1462806000,ETHUSD,10.00,10.00,9.99,9.99,10.973567,Monday
2016-05-09 14:00:00,1462802400,ETHUSD,9.55,10.00,9.55,10.00,235.774075,Monday
2016-05-09 13:00:00,1462798800,ETHUSD,0.00,12.00,0.00,9.55,432.562115,Monday

In [423]:
import numpy as np
df.loc['2019']

,Unix Timestamp,Symbol,Open,High,Low,Close,Volume,dayofweek
Date,,,,,,,,
2019-12-31 23:00:00,1577833200000,ETHUSD,128.68,128.85,127.82,128.84,857.650259,Tuesday
2019-12-31 22:00:00,1577829600000,ETHUSD,128.40,128.93,127.77,128.68,3050.507350,Tuesday
2019-12-31 21:00:00,1577826000000,ETHUSD,127.87,128.41,127.81,128.40,447.680372,Tuesday
2019-12-31 20:00:00,1577822400000,ETHUSD,127.86,128.30,127.86,127.87,151.711128,Tuesday
2019-12-31 19:00:00,1577818800000,ETHUSD,128.78,128.78,127.86,127.86,2450.933248,Tuesday
...,...,...,...,...,...,...,...,...
2019-01-01 04:00:00,1546315200000,ETHUSD,130.83,133.75,130.83,132.09,1035.840465,Tuesday
2019-01-01 03:00:00,1546311600000,ETHUSD,129.79,131.00,129.79,130.83,1307.299291,Tuesday
2019-01-01 02:00:00,1546308000000,ETHUSD,130.98,130.98,129.25,129.79,837.808380,Tuesday
2019-01-01 01:00:00,1546304400000,ETHUSD,131.10,131.10,128.72,130.98,965.092541,Tuesday
2019-01-01 00:00:00,1546300800000,ETHUSD,130.80,131.70,130.00,131.10,1288.434493,Tuesday

In [426]:
df.loc['2020-01-01' : '2019-02-01']

,Unix Timestamp,Symbol,Open,High,Low,Close,Volume,dayofweek
Date,,,,,,,,
2020-01-01 23:00:00,1577919600000,ETHUSD,129.91,130.25,129.35,130.25,51.336643,Wednesday
2020-01-01 22:00:00,1577916000000,ETHUSD,131.31,131.31,129.53,129.91,410.145621,Wednesday
2020-01-01 21:00:00,1577912400000,ETHUSD,131.73,131.92,131.19,131.31,108.489398,Wednesday
2020-01-01 20:00:00,1577908800000,ETHUSD,131.40,131.74,131.07,131.73,377.562563,Wednesday
2020-01-01 19:00:00,1577905200000,ETHUSD,131.45,131.71,131.00,131.40,481.488947,Wednesday
...,...,...,...,...,...,...,...,...
2019-02-01 04:00:00,1548993600000,ETHUSD,104.36,104.36,103.35,103.72,244.530235,Friday
2019-02-01 03:00:00,1548990000000,ETHUSD,103.75,104.36,103.70,104.36,389.778434,Friday
2019-02-01 02:00:00,1548986400000,ETHUSD,103.43,104.01,103.22,103.75,321.531249,Friday
2019-02-01 01:00:00,1548982800000,ETHUSD,105.34,105.34,103.01,103.43,4089.753494,Friday
2019-02-01 00:00:00,1548979200000,ETHUSD,105.70,106.00,105.34,105.34,205.736089,Friday

In [429]:
df.loc['2020-01-01' : '2019-02-01']['Close'].mean()

185.60840114470565

In [430]:
df['High'].resample('d').max()

Date
2016-05-09     12.00
2016-05-10      9.96
2016-05-11     10.47
2016-05-12     12.00
2016-05-13     11.59
               ...
2020-04-12    165.37
2020-04-13    159.51
2020-04-14    162.15
2020-04-15    161.52
2020-04-16    152.94
Freq: D, Name: High, Length: 1439, dtype: float64

In [431]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [432]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [433]:
df2 = pd.DataFrame(
   ...:     {
   ...:         "A": 1.0,
   ...:         "B": pd.Timestamp("20130102"),
   ...:         "C": pd.Series(1, index=list(range(4)), dtype="float32"),
   ...:         "D": np.array([3] * 4, dtype="int32"),
   ...:         "E": pd.Categorical(["test", "train", "test", "train"]),
   ...:         "F": "foo",
   ...:     }
   ...: )

In [434]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [436]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object